.central-foto {
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: cover;
  padding-top: 20px;
  color: #fff;
}
